<%- include('./partials/header.ejs') %>

<div class="faq-container">

    <h1>Frequently asked questions</h1>

    <% for(let faq of faqData) { %>
    <h3 class="faq-title"> <%= faq.title %> </h3>
    <p class="faq-text"> <%= faq.text %> </p>
    <button class="faq-toggle">
        <i class="fas fa-chevron-down"></i>
        <i class="fas fa-times"></i>
    </button>
    <% } %>

</div>


<%- include('./partials/footer.ejs') %>