<%- include('./partials/header.ejs') %>

<h1>Frequently asked questions</h1>

<div class="faq-container">

    <% for(let faq of faqData) { %>
    <div class="faq">
        <h3 class="faq-title"> <%= faq.title %> </h3>
        <p class="faq-text"> <%= faq.text %> </p>
        <button class="faq-toggle">
            <i class="fas fa-chevron-down"></i>
            <i class="fas fa-times"></i>
        </button>
    </div>
    <% } %>

</div>


<%- include('./partials/footer.ejs') %>